{
  "presets": [
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "sourceMaps": "inline",
  "env": {
    "cjs": {
      "presets": [
        "latest"
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "es": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }]
      ]
    }
  }
}
